<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="container">
	<h3>Articles List</h3>
	<a class="btn btn-success my-3" href="/admin/articles/new">New Article</a>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Titulo</th>
				<th>Slug</th>
				<th>Category</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% articles.forEach((article) => { %>
			<tr>
				<td><%= article.id %></td>
				<td><%= article.title %></td>
				<td><%= article.slug %></td>
				<% if(article.category != null){ %>
					<td><%= article.category.title %></td>
				<% } else {%>
					<td></td>
				<% } %>
				<td>
					<form action="/articles/delete" method="POST" class="d-flex justify-content-end align-items-center" onsubmit="destroyConfirm(event, this)">
						<input type="hidden" name="id" value="<%= article.id %>">
						<button class="btn btn-sm btn-danger">Destroy</button>
					</form>
				</td>
			</tr>
			<% }) %>
		</tbody>
	</table>
	<hr>
</div>

<%- include("../../partials/footer.ejs") %>
<script>
	
	function destroyConfirm(event, form) {
		event.preventDefault();
		let decision = confirm("Você quer deletar? ");
		if(decision) {
			form.submit();
		} else {
			console.log("Foi um acidente");
		}
	}

</script>