<%- include("../../partials/header.ejs") %>
<%- include("../../partials/homenavbar.ejs") %>
<div class="container">
	<h1>Read all article available</h1>
	<% result.articles.rows.forEach(article => { %>
		<div class="card my-2">
			<div class="card-header">
				<% console.log(article.title) %>
				<h3><%= article.title %></h3>
			</div>
			<div class="body p-3">
				<a href="/<%= article.slug %>" class="btn btn-sm btn-dark">Read more</a>
			</div>
		</div>
	<% }) %>
	<div class="row">
		<div class="col col-12">
			<% if(result.currentPageNumber <= 1) { %>
				<% if(result.next) { %>
					<a href="/articles/page/<%= result.currentPageNumber + 1 %>" style="text-decoration: none; float: right">Next ></a>
				<% } %>
			<% } else { %>
				<% if(result.next) { %>
				<a href="/articles/page/<%= result.currentPageNumber - 1 %>" style="text-decoration: none; float: left">< Prev</a>
				<a href="/articles/page/<%= result.currentPageNumber + 1 %>" style="text-decoration: none; float: right">Next ></a>
				<% } else {%>
					<a href="/articles/page/<%= result.currentPageNumber - 1 %>" style="text-decoration: none; float: left">< Prev</a>
				<% } %>
			<% } %>
		</div>
	</div>
</div>
