<%- include('../../partials/navbar.ejs') %>
<%- include('../../partials/header.ejs') %>

<div class="container">
	<h3>User List</h3>
	<a class="btn btn-success my-3" href="/admin/users/create">New User</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>email</th>
				<th>Hash</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% users.forEach((user) => {%>
				<tr>
					<th><%= user.id %></th>
					<th><%= user.email %></th>
					<th><%= user.password.substring(0,20) %>...</th>
					<th>
						<a href="#" class="d-inline px-1 btn btn-dark btn-sm">Edit</a>

						<form class="d-inline" method="POST" action="#">
							<input type="hidden" name="id" value="<%= user.id %>">
							<button class="px-1 btn btn-danger btn-sm">Destroy</button>
						</form>
					</th>
				</tr>
			<% }) %>
		</tbody>
	</table>
	<hr>
</div>

<%- include('../../partials/footer.ejs') %>